package {{package}};

import org.springframework.stereotype.Service;
import org.ubiquia.common.library.belief.state.libraries.service.mapper.AbstractIngressDtoMapper;

@Service
public class {{classname}}IngressDtoMapper extends AbstractIngressDtoMapper<{{classname}}, {{classname}}Entity> {

}
