package {{package}};

import org.ubiquia.common.library.belief.state.libraries.repository.EntityRepository;
import org.ubiquia.common.model.domain.entity.AbstractDomainModelEntity;

public interface {{classname}}Repository extends EntityRepository<{{classname}}> {

}
