package {{package}};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.web.bind.annotation.*;

import org.ubiquia.common.library.belief.state.libraries.controller.AbstractAclModelController;
import org.ubiquia.common.library.belief.state.libraries.service.builder.entity.EntityRelationshipBuilder;
import org.ubiquia.common.library.belief.state.libraries.service.mapper.AbstractEgressDtoMapper;
import org.ubiquia.common.library.belief.state.libraries.service.mapper.AbstractIngressDtoMapper;

@RestController
@RequestMapping("/ubiquia/{{classname}}")
public class {{classname}}Controller extends AbstractAclModelController<{{classname}}Entity, {{classname}}> {

    private static final Logger logger = LoggerFactory.getLogger({{classname}}Controller.class);

    @Autowired
    private AbstractIngressDtoMapper<{{classname}}, {{classname}}Entity> ingressMapper;

    @Autowired
    protected {{classname}}EntityRelationshipBuilder entityRelationshipBuilder;

    @Autowired
    private {{classname}}EntityRepository entityRepository;

    @Override
    public Logger getLogger() {
        return logger;
    }

    @Override
    public EntityRelationshipBuilder<{{classname}}Entity> getEntityRelationshipBuilder() {
        return this.entityRelationshipBuilder;
    }

    @Override
    public AbstractIngressDtoMapper<{{classname}}, {{classname}}Entity> getIngressMapper() {
        return this.ingressMapper;
    }

    @Override
    public {{classname}}EntityRepository getEntityRepository() {
        return this.entityRepository;
    }
}
