package {{package}};

import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import org.springframework.stereotype.Service;
import org.ubiquia.common.library.belief.state.libraries.service.mapper.AbstractEgressDtoMapper;

@RestController
@RequestMapping("/ubiquia/{{classname}}")
public class {{classname}}Controller extends AbstractAclModelController<{{classname}}Entity, {{classname}}> {

    private static final Logger logger = LoggerFactory.getLogger({{classname}}Controller.class);

    @Autowired
    private IngressDTOMapper<{{classname}}, {{classname}}Entity> ingressMapper;

    @Autowired
    protected {{classname}}RelationshipBuilder entityRelationshipBuilder;

    @Autowired
    private {{classname}}Repository entityRepository;

    @Override
    public Logger getLogger() {
        return logger;
    }

    @Override
    public EntityRelationshipBuilder<{{classname}}> getEntityRelationshipMapper() {
        return this.entityRelationshipBuilder;
    }

    @Override
    public IngressDTOMapper<{{classname}}, {{classname}}Entity> getIngressMapper() {
        return this.ingressMapper;
    }

    @Override
    public {{classname}}Repository getEntityRepository() {
        return this.entityRepository;
    }
}
